<div class="page">
  <div class="Security">
    <h1>Security</h1>
  </div>
  <div class="main">
    <div class="box">
      <div class="Email">
        <h2>New Email</h2>
        <p>miras_kaisagaliev@mail.ru</p>
        <div class="Raw">
          <input placeholder="Email" autocomplete="" class="sc-fznMAR bUtWaw" value="">
          <button type="button">Save</button>
        </div>
      </div>
      <div class="Phone">
        <h2>Phone number</h2>
        <p>The number has not exist</p>
        <div class="Raw">
          <input placeholder="Phone number" autocomplete="" class="sc-fznMAR bUtWaw" value="">
          <button type="button">Save</button>
        </div>
      </div>
    </div>
    <div class="Delete">
      <h2>Delete account</h2>
      <p>Deleting your account will result in the complete and irrevocable deletion of all your data and family profiles from the service</p>
      <button type="submit">Delete</button>
    </div>
  </div>
</div>
