<div class="page">
  <div class="Security">
    <h1>Security</h1>
  </div>
  <div class="Email">
    <h2>Personal Information</h2>
    <p>miras_kaisagaliev@mail.ru</p>
    <div class="box">
      <div class="LastName">
        <input placeholder="Фамилия" autocomplete="" class="sc-fznMAR bUtWaw" value="Кайсагалиев">
        <div class="sc-fzoKki ZLOZM">Фамилия</div>
      </div>
      <div class="FirstName">
        <input placeholder="Имя" autocomplete="" class="sc-fznMAR bUtWaw" value="Мирас">
      </div>
      <div class="MiddleName">
        <input placeholder="Отчество" autocomplete="" class="sc-fznMAR bUtWaw" value="Сайфуллаевич">
      </div>
      <div class="Address">
        <input placeholder="Город" autocomplete="" maxlength="255" class="sc-fznMAR bUtWaw" value="">
      </div>
      <div class="BirthDate">
        <input placeholder="Дата рождения" class="sc-fznMAR bUtWaw sc-pZMVu WTXGj" width="150" value="05.05.2004">
      </div>
      <div class="Blood">
        <p>Blood type</p>
      </div>
    </div>
  </div>
</div>
