<div class = "page">
  <div class = "up-side">
    <h1>Events</h1>

    <button routerLink="/main/add-event">
      <fa-icon [icon] = "['fas', 'plus']"></fa-icon>
    </button>
  </div>

  <div>
    <ng-container *ngIf="events !== null; else templateA">
      <div *ngFor = "let event of events" class = "container">
        <h2>{{event.message}}</h2>
        <p> Doctor: {{event.doctor}}</p>
      </div>
    </ng-container>
    <ng-template #templateA>
      <h1>No events</h1>
    </ng-template>

    <ng-container>
      <h3>No events</h3>
    </ng-container>
  </div>
</div>
