<app-user-navbar></app-user-navbar>
<div class="page">
<!--  <div class="left">-->
<!--    <button routerLink="/personal/profile">Profile</button>-->
<!--    <button routerLink="/personal/security">Security</button>-->
<!--  </div>-->
  <div class = "side">
    <a routerLink="/personal/profile">
      <fa-icon [icon]="['fas', 'user']"> </fa-icon>
      <span>Profile</span>
    </a>
    <a routerLink="/personal/security">
      <fa-icon [icon]="['fas', 'shield']"> </fa-icon>
      <span>Security</span>
    </a>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>

</div>
