.page{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

/*.box{*/
/*  display: flex;*/
/*  !*flex-direction: row;*!*/
/*  !*align-items: center;*!*/
/*  !*justify-content: center;*!*/
/*  !*width: 100%;*!*/
/*}*/

.side {
  width: 20%;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side a {
  width: 200px;
  height: 40px;
  background-color: white;
  color: #15d534;
  text-decoration: none;
  margin: 8px;
  border-radius: 4px;
  font-size: larger;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side svg {
  width: 30px;
}

.side a span {
  margin-left: 15px;
}

.side a fa-icon {
  width: 20px;
}


.side a:hover {
  background-color: #eeebeb;
}

.right{
  width: 80%;
}

