.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle, white, #fdfffc, #b7efb7);
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%  ;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid white;
}

.title-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding-bottom: 80px;
}

.title-box img{
  width: 400px;
  margin-bottom: -10px;
}

.form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.form-box form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-box form input{
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #eeebeb;
  border-radius: 5px;
  outline: none;
}

.BirthDate{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.BirthDate a{
  width: 50%;
  margin-top: 12px;
}

.form-box input:focus {
  box-shadow: 0px 0px 1px 1px rgb(21, 213, 52);
}

.form-box form .gender{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-box form .gender input{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.gender a{
  margin-bottom: 7px;
  padding: 10px;
}

.form-box button {
  width: 100%;
  margin-bottom: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  padding: 13px 0;
  cursor: pointer;
  background-color: #15d534;
}

.form-box button:hover {
  background: #0cb22a;
}
