<div class="page">
  <div class="box">
    <div class="title-box">
      <img src="assets/green.png" alt="Logo">
    </div>
    <div class="form-box">
<!--      <form [formGroup]="regForm" (ngSubmit)="createAccount()">-->
      <form>
        <input type="text" placeholder="*First name" formControlName="firstName" name="name" required>
        <input type="text" placeholder="*Last name" formControlName="lastName" id="surname" required>
        <div class="BirthDate">
          <a>Birth Date: </a> <input type="text" placeholder="*YEAR-MM-DD" formControlName="dateOfBirth" id="birthDate" required>
        </div>
        <div class="gender">
          <input type="radio" value="Male" formControlName="gender"> <a>Male</a>
          <input type="radio" value="Female" formControlName="gender"> <a>Female</a>
        </div>
        <input type="text" placeholder="Phone number" formControlName="phoneNumber">
        <input type="text" placeholder="*Email" formControlName="email" required>
        <input type="text" placeholder="Address" formControlName="address">
        <input type="text" placeholder="*Password" formControlName="password1" required>
        <input type="text" placeholder="*Confirm the password" formControlName="password2" required>
        <button type="submit" >Create Account</button>
      </form>
    </div>
  </div>
</div>
