<div class="page">
  <div class="box">
    <div class="title-box">
      <img src="assets/green.jpeg" alt="Logo">
    </div>
    <div class="form-box">
      <form action="">
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <div class="BirthDate">
          <a>Birth Date: </a> <input type="text" placeholder="DD/MM/YEAR">
        </div>
        <div class="gender">
          <input type="checkbox"> <a>Male</a>
          <input type="checkbox"> <a>Female</a>
        </div>
        <input type="text" placeholder="Pnone number">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Address">
        <input type="text" placeholder="Password">
        <input type="text" placeholder="Confirm the password">
        <button type="submit">Create Account</button>
      </form>
    </div>
  </div>
</div>
