!<html>
  <html lang = 'en'>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSCorp</title>
    <link rel="stylesheet" href="login.component.css">
  </head>
  <body>
    <div class="box">
      <div class="title-box">
        <form action="#">
          <input type="text" placeholder="Email or phone number">
          <input type="text" placeholder="Password">
          <button type="submit">Login</button>
          <a>Forgot the password?</a>
        </form>
      </div>
    </div>
    <div class="form-box">
    </div>
    <div class="creator">

    </div>
  </body>
</html>
