.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  padding: 10px;
}

img {
  width: 150px;
}

.center {
  display: flex;
  flex-direction: row;
}

.center span {
  margin-left: 40px;
  font-size: larger;
  cursor: pointer;
}

.center span:hover{
  margin-left: 40px;
  text-decoration: underline;
}

.login {
  background-color: transparent;
  border-color: transparent;
  padding: 10px;
  font-size: larger;
  cursor: pointer;
}

.signup {
  background-color: #3cee3e;
  border-color: transparent;
  padding: 10px;
  font-size: larger;
  cursor: pointer;
}

.signup:hover {
  background-color: rgb(97, 225, 69);
  border-color: transparent;
  padding: 10px;
  font-size: larger;
  cursor: pointer;
}
