.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  padding: 10px;
}

img {
  width: 150px;
}

.center {
  display: flex;
  flex-direction: row;
}

.center span {
  margin-left: 40px;
  font-size: larger;
  cursor: pointer;
}

.center span:hover{
  margin-left: 40px;
  text-decoration: underline;
}


.personal {
  background-color: transparent;
  border-color: transparent;
  padding: 10px;
  font-size: larger;
  cursor: pointer;
}

.main img{
  width: 50px;
}


