<div class = "navbar">
  <div>
    <img src="assets/green.png">
  </div>

  <div class = "main">
    <fa-icon [icon]="['fas', 'bell']" size="lg"> </fa-icon>
<!--    <img src="https://lk.ondoc.me/assets/user-no-gender-fff96e4f.svg"><button class = "personal" routerLink="/personal">Personal Account</button>-->
<!--    <button class = "logout">Log out</button>-->
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://lk.ondoc.me/assets/user-no-gender-fff96e4f.svg"><button class = "personal">Personal Account</button>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/personal/profile">Settings</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
