<div>
  <div class = "head">
    <button> <fa-icon [icon]="['fas','arrow-left']"></fa-icon> </button>
    <h3> Add your clinic </h3>
  </div>

  <div class = "forms">
    <p>Enter the promo code of your clinic and get access to its services in your personal account</p>
    <div class="Raw">
      <input placeholder="Phone number" autocomplete="" class="sc-fznMAR bUtWaw" value="">
      <button type="button">Save</button>
    </div>
    <p>You can add a clinic later in the "Clinics" section</p>
  </div>
</div>
