<div class="page">
  <div class="Edit">
    <h1>Editing a profile</h1>
  </div>
  <div class="all">
    <div class="left">
      <h2>Personal Information</h2>
      <div class="Raw">
        <div class="gender"></div>
        <div class="id">
          Your ID: 1
        </div>
      </div>
      <div class="box">
        <div class="LastName">
          <input placeholder="Last Name" autocomplete="" class="sc-fznMAR bUtWaw" value="Кайсагалиев">
<!--          <div class="sc-fzoKki ZLOZM">Фамилия</div>-->
        </div>
        <div class="FirstName">
          <input placeholder="First Name" autocomplete="" class="sc-fznMAR bUtWaw" value="Мирас">
        </div>
        <div class="MiddleName">
          <input placeholder="Middle Name" autocomplete="" class="sc-fznMAR bUtWaw" value="Сайфуллаевич">
        </div>
        <div class="Address">
          <input placeholder="Address" autocomplete="" maxlength="255" class="sc-fznMAR bUtWaw" value="">
        </div>
        <div class="BirthDate">
          <input placeholder="Birth Date" class="sc-fznMAR bUtWaw sc-pZMVu WTXGj" width="150" value="05.05.2004">
        </div>
        <div class="Blood">
          <label for="bloodgroup">Blood Type:</label>
          <select id="bloodgroup" name="bloodgroup">
            <option>O(1) Rh-</option>
            <option>O(1) Rh+</option>
            <option>A(2) Rh-</option>
            <option>A(2) Rh+</option>
            <option>B(3) Rh-</option>
            <option>B(3) Rh+</option>
            <option>AB(4) Rh-</option>
            <option>AB(4) Rh+</option>
          </select>
        </div>
      </div>
    </div>
    <div class="right">
      <h2>Photo</h2>
      <div class="photo"><img src="https://lk.ondoc.me/assets/user-no-gender-fff96e4f.svg"></div>
    </div>
  </div>

  <div class = "doctor">
    <div class = "line"></div>
    <div class = "doctor-info">
      <div>
        <h2>Specialization</h2>
        <p>Current specialization: </p>
        <input placeholder="Specialization" autocomplete="" maxlength="255" class="sc-fznMAR bUtWaw" value="">
      </div>

      <div>
        <h2>Clinic</h2>
        <p>Current clinic: </p>
        <input placeholder="Clinic" autocomplete="" maxlength="255" class="sc-fznMAR bUtWaw" value="">
<!--        <option>-->
<!--          <select *ngFor="let clinic of clinics" [value] = "clinic.name"> {{clinic.name}}</select>-->
<!--        </option>-->
      </div>
    </div>
  </div>
  <div class="Save">
    <button type="submit">Save</button>
  </div>
</div>
