<app-user-navbar></app-user-navbar>
<div>
  <div class = "side">
    <a>
      <fa-icon [icon]="['fas', 'heart-pulse']"> </fa-icon>
      <span>Health</span>
    </a>
    <a href = "">
      <fa-icon [icon]="['fas', 'book-medical']"> </fa-icon>
      <span>Actions</span>
    </a>
    <a href = "/main">
      <fa-icon [icon]="['fas', 'history']"> </fa-icon>
      <span>History</span>
    </a>
    <a href = "/main">
      <fa-icon [icon]="['fas', 'calendar']"> </fa-icon>
      <span>Events</span>
    </a>
    <a href = "">
      <fa-icon [icon]="['fas', 'user-doctor']"> </fa-icon>
      <span>Doctors</span>
    </a>
    <a href = "">
      <fa-icon [icon]="['fas', 'hospital']"> </fa-icon>
      <span>Clinics</span>
    </a>
  </div>
  <section>

  </section>
</div>


