<app-user-navbar></app-user-navbar>
<div>
  <div class = "side">
    <a>
      <svg></svg>
      <span>Health</span>
    </a>
    <a href = "">
      <svg></svg>
      <span>Actions</span>
    </a>
    <a href = "/main">
      <svg></svg>
      <span>History</span>
    </a>
    <a href = "/main">
      <svg></svg>
      <span>Events</span>
    </a>
    <a href = "">
      <svg></svg>
      <span>Doctors</span>
    </a>
    <a href = "">
      <svg></svg>
      <span>Clinics</span>
    </a>
  </div>
  <section>

  </section>
</div>


