.side {
  width: 20%;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side a {
  width: 200px;
  height: 40px;
  background-color: white;
  color: #7AA874;
  text-decoration: none;
  margin: 8px;
  border-radius: 4px;
  font-size: larger;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side svg {
  width: 30px;
}


.side a:hover {
  background-color: #eeebeb;
}

