<div>
  <h3>My clinics</h3>
  <div class = "page">
    <div class = "help">
      <strong>
        <p> Adding a clinic to favorites</p>
      </strong>
      <p>Enter a single connection code to access the basic services of your clinic in MSCorp.</p>
      <p>The code can be found at the clinic or on its website. Specify a single code by clicking on "Add Clinic".</p>

      <button routerLink="/main/add-clinic">Add Clinic</button>
    </div>
    <div class = "help">
      <strong>
        <p> List of clinics </p>
      </strong>
      <p> Here you can find list of clinics that cooperate with us </p>

      <button routerLink="/main/clinics-list"> Clinics List </button>
    </div>
  </div>
</div>
