<div class="Page">
  <h2>My doctors</h2>
  <div class="Text">
    <div class="HowItWorks">
     <h4>How does the search for doctors work?</h4>
      <p>We are looking for doctors from your selected clinics, so first you need to add a clinic.</p>
    </div>
    <div class="AddAClinic">
      <h4>Adding a clinic to favorites</h4>
      <p>Enter a single connection code to access the basic services of your clinic in MSCORP.</p>
      <p>The code can be found at the clinic or on its website. Specify a single code by clicking on "Add a clinic".</p>
      <a routerLink = "/main/clinics">
        <button type="submit">Add a clinic</button>
      </a>
    </div>
  </div>
</div>
